<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>제목</title>

	<style>

		.indent { margin-left: 100px; }

		.reply_wrap {
			display: flex;
		}

		.reply_box {
			min-width: 500px;
			max-width: 100vw;
			padding: 20px;
			border: 1px solid black;
		}
		
	</style>
</head>
<body>
	<h1>글읽기</h1>
	
	<form action="/board/delete" method="post" id="form">
	
		<input type="hidden" name="boardNo" th:value="${board.boardNo}" readonly>
		
		<table>
			<tr>
				<td>제목</td>
				<td>
					<input type="text" name="title" th:value="${board.title}" readonly>
				</td>
			</tr>
			<tr>
				<td>작성자</td>
				<td>
					<input type="text" name="writer" th:value="${board.writer}" readonly>
				</td>
			</tr>
			<tr>
				<td>내용</td>
				<td>
					<textarea rows="10" cols="40" name="content" th:text="${board.content}" readonly></textarea>
				</td>
			</tr>
		</table>
	
	</form>
	
	<!-- 댓글 목록 -->
	<div id="reply_list">
		<!-- 
		<th:block th:each=" reply : ${replyList} ">
			<div class="reply_wrap">
				<th:block th:if="${reply.replyNo != reply.groupNo}">
					<th:block th:each=" no : ${ #numbers.sequence(1, reply.depthNo) }">
						<div class="indent"></div>
					</th:block>
				</th:block>
			
				<div th:class="reply_box">
					<span class="reply_writer" th:text="${reply.writer}"></span>
					<span class="reply_date" th:text="${reply.regDate}"></span>
					<button type="button" class="btn_reply_update" th:data="${reply.replyNo}">수정</button>
					<button type="button" class="btn_reply_delete" th:data="${reply.replyNo}">삭제</button>
					<p class="reply_content" th:text="${reply.content}"></p>
				</div>
			</div>
		</th:block>
		 -->
	</div>

	<!-- 댓글 입력 -->
	<div class="reply_txt">
		<div class="top">
			<h3>댓글</h3>
		</div>
		<div class="reply_input">
			<input type="text" name="replyWriter" id="replyWriter" class="writer" 
				   placeholder="작성자">
			<br>
			<textarea name="replyContent" id="replyContent" rows="5" cols="60" 
					  placeholder="댓글 작성해주세요."></textarea>
			<div class="btn_area">
				<button type="button" id="btn_reply_insert" class="btn_reply">등록</button>
			</div>
		</div>
		<br>
	</div>
	
	
	
	<!-- 버튼 -->
	<div>
		<button type="button" onclick="moveUpdate()">수정</button>
		<button type="button" onclick="boardDelete()">삭제</button>
		<button type="button" onclick="moveList()">목록</button>
	</div>
	
	
	
	
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script>
	
		let form = document.getElementById("form")
		let boardNo = "[[${board.boardNo}]]"
		
		// 문서 준비 이벤트
		$(function() {

			// 댓글 목록 가져오기
			replyList()

			// 이벤트 등록
			addEvent()

		})
		
		// 댓글 목록 가져오기
		function replyList() {
			
			let reply = {
				'boardNo' 	: boardNo,
			}

			$.ajax({
				url:	'/reply/list',		// 요청 경로
				type:	'get',					// 메소드 방식(get, post, put 등)
				data:  	reply,					// 전송할 데이터
				dataType: "text",				

				// 서버로부터 정상적인 응답
				success: function(data) {
					// 댓글 목록 갱신
					$('#reply_list').empty()
					$('#reply_list').append(data)
				},
				// 에러
				error: function(request, status, error) {
					alert('댓글 목록 조회 중 에러가 발생하였습니다.')
				},
			})
			
		}

		// 댓글 등록
		function insertReply( writer, content ) {
			let reply = {
				'boardNo' 	: boardNo,
				'writer'	: writer,
				'content' 	: content
			}

			$.ajax({
				url:	'/reply/insert',		// 요청 경로
				type:	'post',					// 메소드 방식(get, post, put 등)
				data:  	reply,					// 전송할 데이터
				dataType: "text",				

				// 서버로부터 정상적인 응답
				success: function(data) {
					// 댓글 목록 갱신
					$('#reply_list').empty()
					$('#reply_list').append(data)
					
					// 작성한 댓글 내용 초기화
					$('#replyWriter').val('')
					$('#replyContent').val('')
					
				},
				// 에러
				error: function(request, status, error) {
					alert('댓글 등록 중 에러가 발생하였습니다.')
				},
			})

		}
		
		
		// 이벤트 등록
		function addEvent() {
			// 등록 버튼 클릭 이벤트
			$('#btn_reply_insert').on('click', function() {
				let writer = $('#replyWriter').val()
				let content = $('#replyContent').val()

				insertReply( writer, content )
			})
			
		}


	
		function moveUpdate() {
			location.href = "/board/update?boardNo=" + boardNo	
		}
		
		function boardDelete() {
			let check = confirm("정말로 삭제하시겠습니까?")
			if( check ) {
				form.submit()
			}
		}
		
		function moveList() {
			location.href = "/board/list"	
		}	
	</script>
	
	
</body>
</html>






















